.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  height: 44vh;
  background-color: rgba($color: red, $alpha: .25);
}

.error {
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}