.card {
  padding: 10px;
  background-color: rgba($color: #000, $alpha: .1);
  border-radius: 5px;
  color: rgba($color: #fff, $alpha: .6);
  min-height: 100px;
  color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
}