.navigation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  z-index: 1;
  transition: transform .3s;
  margin-left: 4rem;

  &_move {
    transform: translateY(3rem);
  }
}

.list {
  z-index: 2;
  width: 500px;
  padding: 1rem 8rem;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px #ccc;

  display: flex;
  justify-content: space-between;
}
