@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
  background: linear-gradient(#6A73D5, #9DEE55);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Protest Strike', sans-serif;
}